@import 'vars';
 
.my-wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*   Wallet   */
.my-wallet-container{
    background-color: $--text-input-field;
    border-radius: 8px;
}
.my-wallet-content{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $--text-input-field;
    border-radius: 8px;
    padding: 8px 24px 0px;
    align-items: center;
}
.my-wallet-content :nth-child(2){
    height: 24px;
}
.money{
    display: flex;
}
.my-money{
    font-size: $--md;
    font-weight: bold;
    margin-left: 8px;
}
.symbol{
    color: $--very-light-pink;
    font-size: $--md;
}
.eye{
    cursor: pointer;
}
.buttons-container{
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}
.primary-button{
    border-radius: 8px;
    background-color: white;
    width: 40%;
    height: 36px;
    font-size: $--sm;
    font-weight: bold;

    cursor: pointer;
}
.payment{
    border: 1px solid $--red;
}
.entry{
    border: 1px solid $--hospital-green;
}

@media (min-width: 640px) {
    .my-wallet{
    }
}